// Place all the styles related to the invoices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.top-right {
  position: fixed;
  top: 5px;
  right: 5px;
  background-color: white;
}

.hide-code { display: none;}

span {
  font-size: 16px;
}

#wrapper, #wrapper > div {
  -webkit-box-sixing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.invoice-form {
  padding:15px;
  width: 100%;
  height: 100%;
}

.code {display: none;}

#line-item-table  {
  border-collapse: separate;
  border-spacing: 5px;
  tr.li-row {
    border: 1px solid #cccccc;
    margin-bottom: 5px;
  }
}

td {
    text-align: center; /* center checkbox horizontally */
    vertical-align: middle; /* center checkbox vertically */
}

#main-form {
  background-color:#f6f6f6;
}

input {
  color:#3c3c3c;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: #fff;
  margin-bottom: 10px;
  width:100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

input:hover, textarea:hover,
input:focus, textarea:focus {
  background-color:white;
}

.button-blue{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  float:left;
  width: 100%;
  cursor:pointer;
  background-color: #3498db;
  color:white;
  font-size:14px;
  padding-top:5px;
  padding-bottom:5px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

.button-blue:hover{
  background-color: #2A7AAF;
}

/*Checkbox*/
input[type="checkbox"] {
 -webkit-appearance:none;/* Hides the default checkbox style */
 height:1.5em;
 width:1.5em;
 cursor:pointer;
 position:relative;
 -webkit-transition: .15s;
 background-color:#cccccc;
 outline:none;
}

input[type="checkbox"]:checked {
 background-color:#2ECC71;
}

input[type="checkbox"]:before, input[type="checkbox"]:checked:before {
 position:absolute;
 top:0;
 left:0;
 width:100%;
 height:100%;
 line-height: 25px;
 text-align:center;
 color:#fff;
 content: '✘';
}

input[type="checkbox"]:checked:before {
 content: '✔';
}
/*end checkbox*/

/*select*/
select {
  /*background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='75px' height='75px'><polyline points='41.946,11.325 20.973,32.297 0.0,11.326'/></svg>");*/
  background-color:#fff;
  background-repeat:no-repeat;
  background-position: right 10px top 15px;
  background-size: 16px 16px;
  color:white;
  padding:5px;
  width:auto;
  padding-right: 35px;
  font-size:14px;
  font-weight:bold;
  color:#3c3c3c;
  text-align:center;
  border:0;
  outline:0;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px; /* Removes default arrow from firefox*/
  text-overflow: "";  /*Removes default arrow from firefox*/ /*My custom style for fonts*/
  -webkit-border-radius: 0px;
}
/*end select*/

